
        body {
           
            background: linear-gradient(to bottom, #e60000, #ff99cc);
            background-attachment: fixed; 
            
            font-family: 'Roboto', sans-serif; 
            text-align: center; 
            color: white; 
            
            margin: 0;
            height: 100vh;
            overflow: hidden; 
            
          
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        h1 {
            font-size: 40px;
            text-shadow: 2px 2px 4px rgba(0,0,0,0.2); 
            margin-bottom: 40px;
            padding: 0 20px;
        }

        button {
            padding: 15px 40px;
            font-size: 20px;
            cursor: pointer;
            border: none;
            border-radius: 50px; 
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            margin: 10px;
        }

        #yes_btn {
            background-color: white;
            color: #e60000;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        }

        #no_btn {
            background-color: #000000;
            color: white;
            position: absolute; 
        }

      
        
        #blue_screen_error {
            display: none;
        background: radial-gradient(circle at 85.4% 50.8%, rgb(14, 72, 222) 0%, rgb(3, 22, 65) 74.2%);
            color: white;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            
        
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'Courier New', monospace; 
            z-index: 10;
        }

        #final_message {
            display: none;
           
            background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            
            /* Centrar todo */
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 20;
            overflow-y: auto; 
        }

        .love-text {
            font-size: 24px;
            max-width: 800px;
            line-height: 1.5;
            padding: 10px 20px;
            margin: 10px 0;
        }

       
     .heart-beat {
            font-size: 150px; 
            margin-top: 30px;
            animation: latido 0.8s infinite alternate; 
        }

      
        @keyframes latido {
            0% { transform: scale(1); }  
            100% { transform: scale(1.2); } 
        }